.cus-div{
    padding: 10px;
    background: #eee;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

table tbody tr td, table thead tr th {
    text-align: center;
    padding: 10px 0;
    border: 1px solid;
}

.text-right{
    text-align: right;
}

.cus-input{
    padding: 7px 10px;
    width: 25%;
    border: 1px solid #c0c0c0;
    border-radius: 15px;
}

.cus-input:focus-visible{
    outline: 0;
}

.cus-btn{
    margin-top: 15px;
    padding: 7px 15px;
    background: #d72121;
    color: #fff;
    border: 1px solid #d72121;
    cursor: pointer;
    margin-bottom: 20px;
}

.cus-add-btn{
    width: 100px;
    float: right;
    background: #d72121;
    border: 1px solid #d72121;
    color: #ffffff;
    padding: 7px;
    text-align: center;
}

.text-center{
    text-align: center;
}

.error{
    color: #d72121;
}

.w-27{
    width: 27%;
}